*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto ;
    padding: 0 15px;
}
.header__nav{
    background-color: rgb(255, 0, 187);
    padding: 20px;
}
.header__nav-container{
    font-size: 30px;
    text-transform: uppercase;
    color: aqua;
}
.header__nav-link{
    font-size: 20px;
   color: greenyellow;
   text-transform: uppercase;
}
.header__nav-list{
    display: flex;
    gap: 20px;
}
.header__content{
    height: 500px;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.h1{
   color: rgb(218, 218, 218); 
   text-transform: uppercase;
}
.figure{
    display: flex;
    gap: 20px;
}
.item{
    width: 500px;
    height: 50px;
    background-color: rgb(255, 61, 61);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.main{
    background-color: cadetblue;
    height: 100vh;
}
.main__item{
    width: 25%;
    background-color: rgb(0, 255, 255);
    height: 500px;
}
.main__block{
    display: flex;
    gap: 10px;
    
}